.nav-link.underline-animate {
  position: relative;
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link.underline-animate::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -3px;
  background-color: #fff;
  transition: width 0.3s ease;
}

.nav-link.underline-animate:hover::after {
  width: 100%;
}
